@use "../../../SASS//Variables" as *;

.single-post-details {
  .post-head {
    color: $sec-color;
    font-size: 35px;
    font-weight: normal;
    margin: 30px 0;
  }
  .post-info-holder {
    .info {
      color: $text-color;
      font-family: $hotel-name-family;
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 25px;
    }
  }
}
