@use "../../../SASS/Variables" as *;
@use "../../../SASS/Mixins" as *;

.placeInfo {
  .LandingHead {
    top: 0;
    transform: translateY(0);
    .special-small-head {
      color: $text-color;
    }
    .special-main-head {
      color: $sec-color;
      font-size: 40px;
    }
  }
  .place-disc {
    color: $text-color;
    font-family: $hotel-name-family;
    margin: 30px 0;
    line-height: 1.7;
    font-size: 18px;
  }
}
