@use "../../../SASS/Variables" as *;
@use "../../../SASS/Mixins" as *;

.testi {
  position: relative;
  .main-box {
    position: relative;
    z-index: 1;
    width: 50%;
    margin: auto;
    text-align: left;
    .section-head {
      position: relative;
      color: #fff;
      .small-head {
        font-size: 14px;
        letter-spacing: 5px;
        margin-bottom: 8px;
      }
      .testi-main-head {
        font-size: 35px;
        font-weight: 300;
      }
    }
    .testi-line {
      width: 60px;
      height: 1px;
      background-color: rgba($color: #fff, $alpha: 0.4);
      margin: 15px 0;
    }
    .testi-main-slider-holder {
      position: relative;
      .quote {
        position: absolute;
        bottom: 30px;
        right: 40px;
        width: 60px;
        opacity: 0.2;
      }
    }
  }
}

@include media(MobileToLarge) {
  .testi {
    .main-box {
      width: 90%;
    }
  }
}
