@use "./Variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gilda Display", serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button,
input {
  border: none;
  outline: none;
}
button {
  cursor: pointer;
}
