@use "../../../SASS/Variables" as *;
@use "../../../SASS/Mixins" as *;

.rounded-pagination {
  @include flex(row, center, center);
  gap: 10px;
  margin-top: 50px;
  & > div {
    @include flex(row, center, center);
    width: 40px;
    height: 40px;
    font-size: 18px;
    color: $text-color;
    border-radius: 50%;
    border: 1px solid $thin-border;
    transition: $transition;
    cursor: pointer;

    &.active,
    &:hover {
      border-color: $main-color;
    }
  }
}
