@use "../../../SASS/Variables" as *;
@use "../../../SASS/Mixins" as *;
@use "../../../SASS/Components" as *;

.luxury {
  background-color: #fff;
  padding: 120px 0;
  .main-content {
    position: relative;
    .small-head,
    .main-head {
      margin: 15px 0;
    }
    .small-head {
      color: $text-color;
    }
    .main-head {
      font-size: 50px;
      width: 90%;
      color: $sec-color;
      font-weight: 500;
    }
    p {
      color: $text-color;
      line-height: 1.8;
      font-size: 14px;
      &:last-of-type {
        margin: 15px 0;
      }
    }
    .call-us {
      .type {
        color: $text-color;
      }
      .phone-icon {
        color: $main-color;
      }
    }
  }
  .imgs-box {
    @include flex(row, flex-start, flex-start);
    img {
      width: 40%;
      position: relative;
      &:first-child {
        top: 90px;
        margin-right: 30px;
      }
    }
  }
}
@include media(mobile) {
  .luxury {
    .row {
      flex-direction: column;
      gap: 30px;
    }
    .imgs-box {
      justify-content: center;
    }
  }
}
@include media(small) {
  .luxury {
    .imgs-box {
      justify-content: center;
    }
  }
}

@include media(MedToInf) {
  .luxury {
    .main-content {
      opacity: 0;
      top: 200px;
    }
    .imgs-box {
      img {
        top: 200px;
        opacity: 0;
      }
    }
    &.reached {
      .main-content {
        top: 0;
        opacity: 1;
        transition: top 1.5s, opacity 1.8s;
      }
      .imgs-box {
        img {
          opacity: 1;
          transition: top 1.5s, opacity 1.8s;
          &:first-child {
            top: 0;
            transition-delay: 0.2s;
          }
          &:last-child {
            top: 90px;
            transition-delay: 0.6s;
          }
        }
      }
    }
  }
}
