@use "../../../SASS/Variables" as *;
@use "../../../SASS/Mixins" as *;
@use "../../../SASS/Components" as *;

.booking {
  .row {
    justify-content: space-around;
    align-items: center;
    gap: 20px 0;
  }
  .booking-content {
    padding: 50px 30px 0;
    .stars {
      .star {
        margin-right: 3px;
      }
    }
    .notes {
      color: #fff;
      font-size: 23px;
      margin: 20px 0;
      line-height: 1.6;
    }
    .call-us {
      margin-bottom: 20px;
      .icon {
        border: none;
      }
      .number {
        a {
          color: #fff;
          font-weight: 900;
        }
      }
    }
    .call-free {
      position: relative;
      left: 25px;
      font-size: 16px;
      color: #fff;
      font-family: $hotel-name-family;
      letter-spacing: 2px;
      .checked-icon {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -25px;
      }
    }
  }
  .booking-form {
    position: relative;
    top: 100px;
    right: 30px;
    .content-holder {
      background-color: $pale-red;
      padding: 40px 50px;
      .form-head {
        padding-bottom: 10px;
        border-bottom: 1px solid $thin-border;
        .small-head {
          font-size: 14px;
          color: $text-color;
        }
        .main-head {
          font-size: 27px;
          color: $sec-color;
          margin-top: 10px;
          font-weight: normal;
          letter-spacing: 2px;
        }
      }
      form {
        padding-top: 15px;
        .half {
          flex-basis: 48%;
        }
        .row {
          justify-content: space-between;
          & > div {
            position: relative;
            margin-bottom: 15px;
            background-color: #fff;
            padding: 15px 20px;
            cursor: pointer;
            .box-head {
              width: 100%;
              font-size: 16px;
              color: $text-color;
              font-family: $hotel-name-family;
              letter-spacing: 1px;
            }
            .icon {
              color: $main-color;
              font-size: 17px;
            }
            .detail-box {
              .wraper {
                @include flex(row, space-between, center);
                background-color: #fff;
                cursor: pointer;
              }
              .dropdown-menu-booking {
                position: absolute;
                background-color: #fff;
                top: calc(-100% - 145px);
                left: 0;
                width: 100%;
                text-align: center;
                border-bottom: 2px solid $main-color;
                opacity: 0;
                pointer-events: none;
                transition: $transition;
                z-index: 1000;
                &.active {
                  opacity: 1;
                  pointer-events: auto;
                }
                .dropdown-item {
                  padding: 10px 0;
                  border-bottom: 1px solid #dedede;
                  color: $sec-color;
                  font-size: 14px;
                  cursor: pointer;
                  &:hover,
                  &.active {
                    background-color: $main-color;
                    color: #fff;
                  }
                }
              }
            }
          }
          .main-button {
            background-color: $main-color;
            font-size: 17px;
            &::after {
              background-color: $sec-color;
            }
            a {
              letter-spacing: 2px;
              font-family: $hotel-name-family;
            }
          }
        }
      }
    }
  }
}

// start media queries
@include media(MobileToXLarge) {
  .booking {
    padding: 60px 0;
    height: auto;
    .booking-form {
      top: 0;
      right: 0;
    }
  }
}
// end media queries
