@use "../../../SASS/variables" as *;
@use "../../../SASS/Mixins" as *;

.facilities {
  padding: 120px 0;
  .facilities-section-head {
    .small-head {
      color: $text-color;
    }
    .main-head {
      color: $sec-color;
      font-size: 45px;
      margin: 5px 0 25px;
      font-weight: 500;
      letter-spacing: 2px;
    }
  }
}

// start media queries
@include media(MobileToLarge) {
  .facilities {
    .facilities-section-head {
      text-align: center;
    }
  }
}
// end media queries
