@use "../../../../SASS/Components" as *;
@use "../../../../SASS/Variables" as *;

.main-box {
  position: relative;
  height: 100%;
  text-align: center;
  background-size: 100% 100%;
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    .small-head,
    .main-word,
    .main-button {
      position: relative;
      &.animated {
        top: 0;
        opacity: 1;
        transition: $transition + 1.2;
      }
      &.normal {
        top: 50px;
        opacity: 0;
      }
    }
    .small-head {
      color: #fff;
      margin: 18px 0;
      text-transform: uppercase;
      font-weight: 300;
      transition-delay: 0.8s;
    }
    .main-word {
      color: #fff;
      font-size: 45px;
      font-weight: normal;
      word-spacing: 10px;
      letter-spacing: 15px;
      text-transform: uppercase;
      margin: 15px 0;
      transition-delay: 1.2s;
    }
    .main-button {
      border: 1px solid #fff;
      background-color: transparent;
      font-size: 17px;
      transition-delay: 1.5s;

      &::after {
        background-color: #fff;
      }
      &:hover a {
        color: #000;
      }
    }
  }
}
